<div class="md:flex items-center justify-center pl-16 ">
  <div class="">
    <h1 class="lg:text-5xl  font-bold leading-tight text-3xl">Multiple choice simulator</h1>
    <p class="mt-4 text-lg font-normal ">Bienvenido a MCS, simulador de examenes multiple choice virtual de la FIUBA.</p>
    <div class="flex mt-10 w-40 items-center space-x-3 py-3 px-6 bg-indigo-600 text-white rounded-lg  transition-all duration-400 transform hover:scale-105 cursor-pointer hover:shadow-lg">
      <a routerLink="/subjects" class="text-lg text-md ">Empezar ahora</a>
      <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
            </svg>
        </span>
    </div>
  </div>
</div>
