<div class="md:flex items-center justify-center pl-16 ">
  <div class="">
    <h1 class="lg:text-5xl  font-bold leading-tight text-3xl">Multiple choice simulator</h1>
    <p class="mt-4 text-lg font-normal ">Bienvenido a MCS, simulador de examenes multiple choice virtual de la FIUBA.</p>
    <p class="py-5">
      <a href="#"  routerLink="/subjects"
         class="py-3 px-6 rounded shadow hover:shadow-lg text-white text-lg bg-gray-500 hover:bg-black focus:outline-none transition-all duration-300 ease-in-out">
        Ir a materias</a>
    </p>
  </div>
</div>
