<!-- card header -->
<div class="px-6 py-4 bg-white text-black border-b border-gray-200">
    <ng-katex-paragraph [paragraph]="title"></ng-katex-paragraph>
</div>

<!-- card body -->
<div class="p-6 bg-white border-b border-gray-200">
<!-- content goes here -->
    <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col">
            <label class="inline-flex items-center mt-3" *ngFor="let question of questions">
              <input type="radio" name="option" class="form-radio h-5 w-5 text-red-600">
              <span class="ml-2 text-gray-700"><ng-katex-paragraph [paragraph]="question.value"></ng-katex-paragraph></span>
            </label>

            <label class="inline-flex items-center mt-3">
            <input type="radio" name="option" class="form-radio h-5 w-5 text-orange-600" checked><span class="ml-2 text-gray-700">Ninguna de las anteriores es correcta</span>
            </label>
        </div>
    </div>
</div>
