<div class="max-w-2xl mx-auto sm:px-6 lg:px-8">
  <div class="overflow-hidden shadow-md">
    <!-- card header -->
    <div class="px-6 py-4 bg-white border-b border-gray-200">
      <ng-katex [equation]="equation"></ng-katex>
    </div>

    <!-- card body -->
    <div class="p-6 bg-white border-b border-gray-200">
      <!-- content goes here -->
        <div class="flex flex-col items-center justify-center">
          <div class="flex flex-col">
            <label class="inline-flex items-center mt-3">
              <input type="radio" class="form-radio h-5 w-5 text-gray-600" checked>
              <span class="ml-2 text-gray-700"><ng-katex-paragraph [paragraph]="paragraph"></ng-katex-paragraph></span>
            </label>

            <label class="inline-flex items-center mt-3">
              <input type="radio" class="form-radio h-5 w-5 text-red-600" checked>
              <span class="ml-2 text-gray-700"><ng-katex-paragraph [paragraph]="paragraph2"></ng-katex-paragraph></span>
            </label>

            <label class="inline-flex items-center mt-3">
              <input type="radio" class="form-radio h-5 w-5 text-orange-600" checked><span class="ml-2 text-gray-700">Bla bla</span>
            </label>
          </div>
        </div>
    </div>

    <!-- card footer -->
    <div class="p-6 bg-white border-gray-200 text-right">
      <!-- button link -->
      <a class="bg-blue-500 shadow-md text-sm text-white font-bold py-3 md:px-8 px-4 hover:bg-blue-400 rounded uppercase"
        >Siguiente</a>
    </div>
  </div>
</div>